<div class="card" style="width: 18rem">
  <app-image
    *ngIf="post.photoUrl"
    [src]="post.photoUrl"
    [alt]="post.title"
  ></app-image>

  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">
      {{ post.description }}
    </p>
    <div class="align-items-center d-flex justify-content-between">
      <div class="tags">
        <span class="tags__item" *ngFor="let tag of post.tags">{{ tag }}</span>
      </div>
      <button class="btn btn-primary" (click)="goToDetailsPage()">View</button>
    </div>
  </div>
</div>
