.post-item {
  /deep/ img {
    transition: transform 0.3s;
    will-change: transform;

    &:hover {
      transform: scale(1.4);
    }
  }
}

.tags {
  &__item {
    &:not(:last-child)::after {
      content: ",";
      margin-right: 5px;
    }
  }
}
