<div class="row">
  <div class="col-12 col-md-8">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        placeholder="Enter Post Title"
        required
        [(ngModel)]="title"
        #name="ngModel"
      />

      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="text-danger"
      >
        <div *ngIf="name.errors.required">Name is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        placeholder="Enter Post Description"
        cols="5"
        name="description"
        [(ngModel)]="description"
      ></textarea>
    </div>
    <app-post-tags-form (change)="tags = $event"></app-post-tags-form>
  </div>
  <div class="col-12 col-md-4">
    <div class="d-flex justify-content-between">
      <span>Image</span>
      <label class="btn btn-primary" for="image">Select Image</label>
      <input
        type="file"
        id="image"
        class="d-none"
        (change)="onSelectImage($event)"
      />
    </div>
    <div *ngIf="previewImage">
      <img [src]="previewImage" />
    </div>
  </div>
</div>

<button class="btn btn-primary" [disabled]="!title" (click)="onSubmit()">
  Create Post
</button>
