<header class="border-bottom p-2">
  <nav>
    <ul class="nav align-items-center">
      <li class="nav-item d-block mr-3">
        <img src="assets/img/logo.svg" class="d-block" alt="Talog Logo" />
      </li>
      <li class="nav-item">
        <h1 class="mb-0">Talos technical test</h1>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link" routerLink="/posts" href="#">Posts</a>
      </li>
      <li class="nav-item">
        <div
          class="add-post btn btn-primary"
          routerLink="/posts/create"
          routerLinkActive="d-none"
        >
          <div class="add-post__content">
            <span class="add-post__text">Create Post</span>
            <i class="fas fa-plus add-post__icon"></i>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>
