<div class="border-top container-fluid p-4">
  <div class="row">
    <div class="col">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur
        quibusdam culpa incidunt sit perspiciatis modi illo laudantium, atque
        labore animi quidem, rem soluta. Vero debitis vel reprehenderit saepe
        similique.
      </p>
    </div>
    <div class="col">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur
        quibusdam culpa incidunt sit perspiciatis modi illo laudantium, atque
        labore animi quidem, rem soluta. Vero debitis vel reprehenderit saepe
        similique.
      </p>
    </div>
    <div class="col">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur
        quibusdam culpa incidunt sit perspiciatis modi illo laudantium, atque
        labore animi quidem, rem soluta. Vero debitis vel reprehenderit saepe
        similique.
      </p>
    </div>
    <div class="col">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur
        quibusdam culpa incidunt sit perspiciatis modi illo laudantium, atque
        labore animi quidem, rem soluta. Vero debitis vel reprehenderit saepe
        similique.
      </p>
    </div>
  </div>
</div>
